<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
          <script type="text/javascript" src="https://free-website-translation.com/scripts/fwt.js"></script>
                <script>
                $(window).load(function() {
                    $(".se-pre-con").fadeOut("slow");
                });
                </script>
            <title>Home</title>
            <style>
                .navbar-custom {
        /* background-color:#6441A5; */
      }
#head{
  overflow: hidden; 
  border-right: .15em; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40),
    blink-caret .75s step-end infinite;
  font-size: 40px;
  background: -webkit-linear-gradient(#c2f556, #22d4c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#a{
    background-image:url("images/farmin.jpg");
    background-repeat:no-repeat;
    margin-left:200px;
    margin-top:100px;
    height:400px;
    width:650px;
    cursor: pointer;
}
#b{
    background-image:url("images/consumerin.jpg");
    background-repeat:no-repeat;
    margin-left:600px;
    margin-top:100px;
    margin-bottom:100px;
    height:400px;
    width:650px;
    cursor: pointer;
}
#a:hover,#b:hover{
    transform:scale(1.2);
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
#ah1{
  margin-left:450px;
  margin-top:180px;
  position:absolute;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
}
#ap{
  margin-left:140px;
  margin-top:380px;
  position:absolute;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  z-index:2;
  font-size:30px;
}
#ah2{
  margin-left:850px;
  margin-top:700px;
  position:absolute;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  z-index: 2;
}
#ap1{
  margin-left:545px;
  margin-top:900px;
  position:absolute;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  z-index:2;
  font-size:30px;
}
#farmer{
  display:none;
}
#consumer{
  display:none;
}
#side{
  float:left;
  position:absolute;
  width:300px;
  height:720px;
  background-color: ;
  background-image: linear-gradient(aqua, rgba(91,237,71));
  margin-left:10px;
  margin-top:10px;
}
#content{
  position:absolute;
  margin-left:310px;
  background-color: rgba(255, 0, 0, 0.4);
  height:720px;
  width:1200px;
  margin-top:10px;
}
#viewc{
  /* display:none; */
}
#view:hover{
  cursor: pointer;
  background-color:rgba(187, 250, 236);
  border:1;
  border-color:rgba(220, 89, 240);
  border-radius:10px;
}
#add:hover{
  cursor: pointer;
  background-color:rgba(187, 250, 236);
  border:1;
  border-color:rgba(220, 89, 240);
  border-radius:10px;
}
#del:hover{
  cursor: pointer;
  background-color:rgba(187, 250, 236);
  border:1;
  border-color:rgba(220, 89, 240);
  border-radius:10px;
}
#delc{
  display:none;
  margin-left: -50px;
}
#addc{
  display:none;
}
#welcome{
  margin-left:200px;
  margin-top:130px;
  height:100px;
}
#content{
  background-image: url("images/gradient.png");
  background-attachment: fixed;
  background-size: 100%;
}
#forma{
  background-color:white;
  /* margin-top:120px; */
  /* margin-left:370px;
  margin-right:400px; */
  text-align: left;
  padding:30px;
  border-radius:20px;
  width: 600px;
}
#formb{
  background-color:white;
  /* margin-left:390px;
  margin-right:400px; */
  width: 600px;
  padding:30px;
  border-radius:20px;
  text-align: left;
}
input[type=submit]{
  height: 40px;
    width:300px;
    border-radius:15px;
    border:0;
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  color:white;
  cursor: pointer;
}
input{
  background: transparent;
  border: none;
  height:30px;
  border-bottom: 1px solid #808080;
  width:500px;
}
body{
  font-family: arial;
  padding-top: 62px;
  text-align: center;
}
#farmer{
  border-radius: 10%;
}
#product{
  background-color:white;
  color:black;
  margin:30px;
  border-radius: 15px;
  padding:20px;
}
#submit{
  position:relative;
  top:10px;
  /* left:200px; */
}
body{
    background-image: linear-gradient(to right, #f48aff, #c771ed, #985bda, #6347c6, #0e35b2);
}
.btns{
    
    : 1px solid black;
    border-radius: 25px;
    width: 100px;
    padding: 6px;
    color: #66A9E6;
    font-weight: bold;
}
.learny{
    font-size: x-large;
}
.top{
    height: 10vh;
}
.navbar-light{
    background-color: white !important;
    width:90px;
    margin-top: 0px;
    height:91vh;
    margin-left:-20px;
}
body{
    margin: 0 auto;
}
.special{
    color:black !important;
    font-size:4vh; 
    margin: auto;   
}
body{
    background-color:  #ffa366;
}
#apps{
    color: blue !important;
}
#menu{
    color: white !important;
    background-color: blue !important;
    border-radius: 50px;
    padding:8px;
}
#menu1{
    color: white !important;
    background-color: orange !important;
    border-radius: 50px;
    padding:8px;
}
#bottom{
    margin-top: 100px;
}
#bottom1{
    margin-top: 150px;
}
#bottom2{
    margin-top: 180px;
}
#second {
    margin-top:10vh;
}
#chome{
    color:orange !important;
}
#person{
    background-color: black;
    color:white;
    padding:5px;
    border-radius: 50px;
}
#menu1,#menu2,#view,#add,#del{
    background-position: center;
    transition: background 0.8s;
}
#menu1:hover,#menu2:hover,#view:hover,#add:hover,#del:hover{
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
#menu2,#view,#add,#del{
    background-color: white !important;
    border-radius: 50px;
    padding:8px;
}
#menu2:active ,#menu1:active,#view:active,#add:active,#del:active{
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}
.content{
    height: 90vh;
}
#text{
    font-family: Footlight MT;
    color: white;
    opacity: 0.8;
}
@media only screen  and (min-width : 1440px) {
    #lgnbtn{
        margin-right: 10vw;
    }
}
           </style>
           <script>
             $(document).ready(function(){
              //  $("#ah1").hide();
              //  $("#ap").hide();
              //  $("#ah2").hide();
              //  $("#ap1").hide();
              //  $("#a").mouseover(function(){
              //   $("#ah1").slideDown();
              //   $("#ap").fadeIn();
              //  });
              //  $("#a").mouseout(function(){
              //    $("#ah1").slideUp();
              //    $("#ap").fadeOut();
              //  });
              //  $("#a").click(function(){
              //   hidesub();
              //  });
              //  $("#b").mouseover(function(){
              //   $("#ah2").slideDown();
              //   $("#ap1").fadeIn();
              //  });
              //  $("#b").mouseout(function(){
              //    $("#ah2").slideUp();
              //    $("#ap1").fadeOut();
              //  });
              //  $("#b").click(function(){
              //   hidesub1();
              //   $("#form").submit();
              //  });
              localStorage.name = "<%= name%>";
               $("#view").click(function(){
                 showprod();
               });
               $("#del").click(function(){
                 showdel();
               });
               $("#add").click(function(){
                 showadd();
               });
             });
             function consumer(){
              $("#form").submit();
             }
           </script>
           <script type="text/javascript">
             function hidesub(){
               document.getElementById("first").style.display="none";
               document.getElementById("farmer").style.display="block";
             }
             function hidesub1(){
              document.getElementById("first").style.display="none";
              document.getElementById("consumer").style.display="block";
             }
             function showdel(){
              document.getElementById("addc").style.display="none";
              document.getElementById("viewc").style.display="none";
              // document.getElementById("welcome").style.display="none";
              document.getElementById("delc").style.display="block";
             }
             function showadd(){
              document.getElementById("viewc").style.display="none";
              document.getElementById("delc").style.display="none";
              // document.getElementById("welcome").style.display="none";
              document.getElementById("addc").style.display="block";
             }
             function showprod(){
              document.getElementById("delc").style.display="none";
              document.getElementById("addc").style.display="none";
              // document.getElementById("welcome").style.display="none";
              document.getElementById("viewc").style.display="block";
             }
             function reloader(){
               location.reload();
             }
           </script>
        </head>
        <body>
            <div class="se-pre-con"></div>
            <nav class="navbar navbar-expand-lg navbar-custom fixed-top navbar-dark bg-dark">
              <a class="navbar-brand" href="javascript:void(0);" onclick="reloader()" style="margin-left: 10vw;font-size:x-large;">Farmer To Consumer</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="shop">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="" id="cart" onclick="changelink()">Cart</a>
                  </li>
                </ul> -->    
                <!-- <form class="form-inline my-2 my-lg-0" id="myform" action="javascript:void(0);" method="POST" style="margin-left:1vw;">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search for products" id="search" style="width: 40vw;" name="search"> -->
                  <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                <!-- </form> -->
              </div>
            <ul class="navbar-nav " style="margin-right:30px;">
              <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" style="color: white;" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="username" style="font-size: 20px;"><i class="fas fa-user" style="font-size: 17px;"></i> <%= name%></span>
                </a>
                
                  <div class="dropdown-menu" aria-labelledby="navDropDownLink">
                      <a class="dropdown-item" href="#">Profile</a>
                      <a href="http://free-website-translation.com/" id="ftwtranslation_button" hreflang="en" title="" style="border:0;"><img src="http://free-website-translation.com/img/fwt_button_en.gif" id="ftwtranslation_image" alt="FWT Homepage Translator" style="border:0;"/></a> 
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" onClick="(function(){
                        location.href = '/login';
                        return false;
                    })();return false;" style="cursor: pointer;">Logout</a>
                  </div>
              </li>
          </ul>
            </nav>
                <div id="first"> 
                  <div class="card  text-center" style="width:35rem;display: inline-block; background-color:#f2f2f2;border-radius:30px;border:0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left:3vw;margin-top: 5vh;">
                    <img src="images/farmin.jpg" class="card-img-top" style="border-top-left-radius:30px;border-top-right-radius:30px;" height="300px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top:10px;"><b>Farmer</b></h5>
                        <div class="popup"  onclick="myFunction('${i}')">Start selling and Earn in smart way!
                  </div>
                  <a href="javascript:void(0);" onclick="hidesub()" class="btn btn-primary" style="background-color:#BF529B;border:0px;padding:10px;padding-left:25px;padding-right:25px;border-radius:50px;margin-right:0px;margin-top: 10px;" id="targetIcon-${i}">Go</a>
                </div></div>
                
                <div class="card  text-center" style="width:35rem;background-color:#f2f2f2;display: inline-block;border-radius:30px;border:0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-left: 10vw;margin-top: 10vh;">
                  <img src="images/consumerin.jpg" class="card-img-top" style="border-top-left-radius:30px;border-top-right-radius:30px;" height="300px" alt="...">
                  <div class="card-body">
                      <h5 class="card-title" style="margin-top:10px;"><b>Consumer</b></h5>
                      <div class="popup"  onclick="myFunction('${i}')">Start buying with great savings!
                </div>
                <a href="javascript:void(0);" class="btn btn-primary" style="background-color:#BF529B;border:0px;padding:10px;padding-left:25px;padding-right:25px;border-radius:50px;margin-right:0px;margin-top: 10px;" onclick="consumer();" id="targetIcon-${i}">Go</a>
              </div></div>
                        <!-- <h1 id="head">HELLO <%= name%>!</h1> -->
                        <!-- <h1 id="ah1">Farmer</h1>
                        <p id="ap">Login as Farmer,start selling and Earn in smart way!</p>
                        <h1 id="ah2">Customer</h1>
                        <p id="ap1">Login as Customer,start buying with great savings!</p>
                        <div id="a"></div>
                        <div id="b"></div> -->
                </div>
              <div id="farmer">
                
                <div class="container-fluid">
                  <div class="row">
                <div class="col-2">
                    <nav class="nav navbar-light" id="fourth">
                            <a href="#" class="nav-link active special" onclick="home();"><i class="fa fa-home" id="view"></i> </a>
                            <a href="#" class="nav-link special" onclick="features();"><i class="fa fa-plus-circle" aria-hidden="true" id="add"></i></a>
                            <a href="#" class="nav-link special" onclick="code();"><i class="fa fa-trash" aria-hidden="true" id="del"></i></a>
                            <!-- <a href="#" class="nav-link special" onclick="contact();"><i class="fa fa-address-book" aria-hidden="true" id="menu2"></i></a> -->
                    </nav>
                </div> 
                <div class="col-10">
                  <div class="row content">
                    <!-- <div class="col-sm-4  d-flex  align-items-center">
                      <img class="img-fluid" src="images/learney.png" id="image" height="250px" width="300px">
                    </div> -->
                    <div class="col-sm-12 d-flex align-items-center justify-content-center" style="text-align: center;">
                      <div id="viewc">
                        <h1 id="text">My Products</h1>
                        <div >
                          <% if(products.length > 0){ %>
                           <% products.forEach(function(products){ %>
                            <div id="product" style="width: 50vw;">
                              <h2><%= products.product %></h2>
                               Price per KG - <%= products.price %><br/>
                               <form action="predict" method="POST">
                                  <input type="hidden" name="product" id="product" value=<%= products.product %> >
                                  <input type="hidden" name="farmer" id="farmer" value=<%= products.email %> >
                                  <input type="submit" style="background-color: #BF529B;width: 250px;margin-top: 10px;margin-bottom: 10px;" value="Predict Sales" id="submit">
                               </form>
                            </div>
                            <% }) %>
                          <% }else{ %>
                            <h2 id="text" style="margin-left: -50px;">No products added yet!</h2>
                          <% } %>
                        </div>
                      </div>
                      <div id="addc">
                        <h1 id="text" style="margin-bottom: 10px;">Add Product</h1>
                        <div id="forma">
                            <h3>Product Details</h3>
                        <form action="addp" method="POST">
                          NAME<br/><input type="text" name="productname" id="productname" required><br/><br/>
                          TOTAL QUANTITY<br/><input type="number" name="totalquantity" required><br/><br/>
                          MINIMUM QUANTITY PER CUSTOMER<br/><input type="number" name="maxquantity" required><br/><br/>
                          PRICE PER KG<br/><input type="number" name="price" required><br/><br/>
                          <input type="hidden" name="latitude" id="latitude" value=<%= latitude %>>
                          <input type="hidden" name="longitude" value=<%= longitude %>>
                          <input type="hidden" name="emailid"  value=<%= email %>><br/>
                          <input type='submit' style="background-color: #BF529B;" value="Add product ➜">
                        </form> 
                      </div>
                      </div>
                      <div id="delc">
                        <h1 id="text" style="margin-bottom: 10px;">Delete Product</h1>
                        <div id="formb">
                            <h3>Product Details</h3>
                      <form action="deletep" method="POST">
                          Enter name of product to be deleted<input type="text" name="product">
                          <input type="hidden" name="farmer" id="farmer" value=<%= email %>><br/><br/>
                          <input type="submit" style="background-color: #BF529B;" value="Delete product ➜">
                      </form>
                      </div>
                    </div>
                      <!-- <h2 id="text">Are you searching for a Best Place to find a teacher for any of you interests?<br/>Or trying to find a easy way of Teaching?<br/>You are on the right path. Register and know much about it!</h2> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
                    <!-- <div id="side">
                        <br/><br/>
                      <h1 align="center" id="view">My Products</h1><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                      <h1 align="center" id="add">Add Product</h1><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                      <h1 align="center" id="del">Remove Product</h1>
                    </div>
                    <div id="content">
                      <div id="viewc">
                        <div>
                          <% if(products.length > 0){ %>
                           <% products.forEach(function(products){ %>
                            <div id="product">
                              <h1><%= products.product %></h1>
                               Price per KG - <%= products.price %><br/> 
                               <form action="predict" method="POST">
                                  <input type="hidden" name="product" id="product" value=<%= products.product %> >
                                  <input type="hidden" name="farmer" id="farmer" value=<%= products.email %> >
                                  <input type="submit" value="Predict Sales" id="submit">
                               </form>
                            </div>
                            <% }) %>
                          <% }else{ %>
                            <p>No products added yet!</p>
                          <% } %>
                        </div>
                      </div>
                      <div id="addc">
                        <div id="forma">
                            <h1>Product Details</h1>
                        <form action="addp" method="POST">
                          NAME<br/><input type="text" name="productname" id="productname" required><br/><br/>
                          TOTAL QUANTITY<br/><input type="number" name="totalquantity" required><br/><br/>
                          MINIMUM QUANTITY PER CUSTOMER<br/><input type="number" name="maxquantity" required><br/><br/>
                          PRICE PER KG<br/><input type="number" name="price" required><br/><br/>
                          <input type="hidden" name="latitude" id="latitude" value=<%= latitude %>>
                          <input type="hidden" name="longitude" value=<%= longitude %>>
                          <input type="hidden" name="emailid"  value=<%= email %>><br/>
                          <input type='submit' value="Add product➜">
                        </form> 
                      </div>
                      </div>
                      <div id="delc">
                          <div id="formb">
                              <h1>Product Details</h1>
                        <form action="deletep" method="POST">
                            Enter name of product to be deleted<input type="text" name="product">
                            <input type="hidden" name="farmer" id="farmer" value=<%= email %>><br/><br/>
                            <input type='submit' value="Delete product➜">
                        </form>
                        </div>
                      </div>
                    <div id="welcome">
                      <img src="https://www.animatedimages.org/data/media/707/animated-welcome-image-0031.gif" border="0" alt="animated-welcome-image-0112" id="welcome"/>
                    </div> -->
                  </div>
              </div>
                <div id="consumer">
                   <form action="list" method="POST" id="form">
                      <input type="hidden" name="latitude" id="latitude" value=<%= latitude %>>
                      <input type="hidden" name="longitude" value=<%= longitude %>>
                   </form>
                </div>
        </body>
    </html>